<h1>Bookers</h1>

<table ~~~ style="table-layout:fixed;width:800px;">
    
    <tr>
    <th>title</th>
    <th class="tweet_body">body</th>
    </tr>
    
<% @tweets.each do |tweet| %>
    
    

        <tr>
        <td><%= tweet.title %></td>
        <td><%= tweet.body %></td>
        <td class="yoko"><%= link_to "show","/tweets/#{tweet.id}" ,class:"show_#{id}"%></td>
        <td class="yoko"><%= link_to "edit","/tweets/#{tweet.id}/edit",class:"edit_#{id}"%></td>
        <td class="yoko"><%= link_to "delete","/tweets/#{tweet.id}",method: :delete,class:"destroy_#{id}"%></td>
        </tr>


<% end %>
</table>







<h2>New book</h2>

<%= form_for(@tweet,url: "/tweets/#{@tweet.id}") do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title,class:"book_title" %>
    
    <h4>Body</h4>
    <%= f.text_area :body,class:"book_body" %>
    
    <%= f.submit "Create Book"%>




<% end %>